html {
    font-family: 'Montserrat', sans-serif;
}

.h1text {
    font-size: 36px;
    color: lightskyblue;
}

.h2text {
    font-size: 30px;
}

.h3text {
    font-size: 25px;
}

.h3text {
    font-size: 20px;
}

.h4text {
    font-size: 17px;
}

.h5text {
    font-size: 14px;
}

.h6text {
    font-size: 12px;
}

p {
    line-height: 1.5em;
}

a {
    font-weight: bold;
    color: black;
}

a:hover {
    color: #868686;
}

b {
    font-weight: 700;
}

mark {
    background-color: lightskyblue;
    padding: 0.2em;
}

li {
    list-style: none;
}

li::before {
    content: "\276F";
    color: lightskyblue;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.pic__block img{
    max-width: 30vh;
    display: block;
    transition: 0.3s;
}

.pic__block {
    position: relative;
    max-width: 30vh;
    overflow: hidden;
}

.pic__description {
    position: absolute;
    bottom: 0%;
    left: 0%;
    right: 0%;
    color: white;
    background-color: black;
    width: auto;
    padding: 0.5em;
    opacity: 0;
    font-weight: 300;
    font-size: 12px;
}

.pic__block:hover .pic__description {
    opacity: 100%;
    transition: 0.2s;
}

.pic__block a:hover img {
    transform: scale(1.2);
    transition: 0.3s;
}