html {
    scroll-behavior: smooth;
}

.wrapper {
    display: block;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    width: 100%;
    margin-top: 50px;
    max-width: 1200px;
}

header {
    margin-bottom: 1em;
}

.header__nav {
    display: flex;
    background-color: lightskyblue;
    justify-content: space-between;
    width: 100%;
}

.header__seznam {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}

.header__seznam li {
    margin-right: 5em;
}

.header__seznam li a {
    transition: linear 0.2s;
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.header__seznam li a:hover {
    color: yellow;
    transition: linear 0.2s;
}

.header__nazev {
    display: flex;
    align-items: center;
    transition: linear 0.2s;
    font-size: 25px;
    margin-left: 80px;
    background-color: white;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.header__nazev a {
    transition: linear 0.2s;
    color: orange;
    text-decoration: none;
}

.header__nazev:hover {
    background-color: lightskyblue;
    transition: linear 0.1s;
}

.header__nazev a:hover {
    color: yellow;
    transition: linear 0.1s;
}

code {
    background-color: #eeebeb;
    padding: 5px;
    margin: 5px;
}

.pic {
    display: flex;
}

footer {
    display: flex;
    justify-content: center;
    height: 3em;
    background-color: lightskyblue;
    padding-top: 2em;
    color: white;
}

.author {
    transition: linear 0.2s;
    color: white;
}

.author:hover {
    color: yellow;
    transition: linear 0.2s;
}